@import "partials/_normalize.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";
@import "partials/_shareLinks.scss";

html {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #000;
}

.upload-images {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

.warning {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #000;
    line-height: 100%;
    color: white;
}

.image-holder {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    text-align: center;
    img {
        max-width: 100%;
        max-height: 100%;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 0;
    }
}

.share-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    width: 500px;
    margin: auto;
    max-width: 80%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 4px;
    background: white;
    z-index: 600;
    height: auto;
    text-align: center;
    display: none;
    color: #666;
    padding-bottom: 20px;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
    z-index: 500;
    top: 0;
}

@media all and (orientation:portrait) {
    .warning {
        display: block;
    }
}

.home-single-image {
    width: 100%;
    background-color: white;
    height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;
    color: white;
    img {
        width: 100%;
        position: absolute;
        top:-100%; left:0; right: 0; bottom:-100%;
        margin: auto;
        transform: scale(1.0);
        transition: all 1s ease;
    }
    .single-car-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000;
        opacity: 0;
        transition: opacity 1s ease;
    }
    &:hover {
        .single-car-overlay {
            opacity: 0.5;
        }
        img {
            transform: scale(1.1);
        }
    }
}

.ghost-button {
    width: 100px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 44.5%;
    padding: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    opacity: 0.9;
    text-decoration: none;
    &:hover {
        background-color: white;
        color: black;
    }
}
