header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 700;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
    .header-container {
        margin: 0 auto;
        padding: 0 20px 0 20px;
        max-width: 1200px;
        .brand-section {
            color: #fff;
            font-family: 'Pacifico', cursive;
            line-height: 80px;
            font-size: 24px;
            opacity: 0.6;
            text-decoration: none;
            transition: opacity 0.5s ease;
            &:hover {
                opacity: 1;
            }
        }
    }

    .menu_collapse_icon {
        display: none;
    }

    .menu_collapse_icon_label {
        display: none;
        float: right;
        font-size: 14px;
        padding: 6px;
        color: white;
        border: 2px solid white;
        border-radius: 4px;
        margin-top: 20px;
        opacity: 0.8;
        transition: all 0.5s ease;
        text-align: center;
        .menu_bars {
            margin-left: 10px;
            width: 25px;
            float: right;
            .menu_bar {
                width: 100%;
                height: 3px;
                margin: 4px 0;
                background-color: white;
            }
        }
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    .main-nav {
        float: right;
        ul {
            list-style: none;
            a {
                text-decoration: none;
                opacity: 0.6;
                margin-left: 10px;
                transition: all 0.5s ease;
                li {
                    color: white;
                    display: inline-block;
                    text-align: center;
                    line-height: 40px;
                    font-size: 14px;
                }
                &:hover {
                    opacity: 1;
                    border-bottom: 3px solid white;
                    padding-bottom: 5px;
                }
            }
            .active {
                padding-bottom: 5px;
                border-bottom: 3px solid white;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .menu_collapse_icon_label {
        display: block !important;
    }
    .menu_collapse_icon:checked ~ .main-nav {
        margin-right: 0;
    }
    .menu_collapse_icon:checked ~ .menu_collapse_icon_label {
        margin-right: 200px;
    }
    .menu_collapse_icon:checked ~ .menu_bar {
        transform: rotate(45deg) !important;
    }
    .menu_collapse_icon:checked ~ .overlay {
        display: block !important;
    }
    .main-nav {
        width: 200px;
        position: fixed;
        background-color: white;
        right: 0;
        height: 100%;
        top: 0;
        z-index: 1000;
        margin-right: -200px;
        transition: margin-right 0.5s ease;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        ul {
            list-style: none;
            padding: 0;
            margin-top: 0;
            a {
                text-decoration: none;
                opacity: 0.6 !important;
                margin-left: 0 !important;
                transition: all 0.5s ease;
                li {
                    color: #333 !important;
                    display: block !important;
                    text-align: center;
                    line-height: 18px;
                    font-size: 18px;
                    border-bottom: 1px solid #ccc;
                }
                &:hover {
                    opacity: 1;
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
            .active {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}
