footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom:0;
}

.lower-buttons {
    position: fixed;
    bottom: 10px;
    width: 140px;
    left: 50%;
    margin-left: -70px;
    z-index: 150;
}

.vote-up, .share {
    width: 60px;
    opacity: 0.6;
    float: left;
    transition: text-shadow 0.5s ease;
    transition: opacity 0.5s ease;
    text-align: center;
    color: white;
    i {
        border: 1px solid white;
        border-radius: 50%;
        height: 58px;
        width: 58px;
        font-size: 20px;
        line-height: 60px;
        margin-bottom: 10px;
    }
    span {
        text-align: center;
        font-size: 14px;
    }
}

.vote-up-enabled, .share {
    &:hover {
        opacity: 1;
        cursor: pointer;
        text-shadow: 0px 0px 6px #666;
    }
}

.vote-up-disabled {
    opacity: 1;
    color: #2ecc71;
    text-shadow: 0px 0px 6px #666;
    i {
        border-color: #2ecc71;
    }
}

.vote-up-error {
    opacity: 1;
    color: #e74c3c;
    text-shadow: 0px 0px 6px #666;
    i {
        border-color: #e74c3c;
    }
}

.share {
    margin-left: 20px;
}
